
		h1 {
			color: blue; text-align:center;
			-webkit-column-span:1;
            		-moz-column-span:1;
            		column-span:1;
		}
		h2 {color: light-blue; text-align:center;}
		h3 {color: white;}
		img{
			display:block;	
			height:auto;
			max-width:100%;
			margin-top:.5em;
  			margin-bottom:.5em;
		}
		
		